node_modules/
.wwebjs_cache/
app_patch_temp/
dist/
dist_FIXED/
dist_FIXED_V2/
dist_SOLUCION_ARREGLADA/
dist_SOLUCION_FINAL/
dist_ULTIMATE/
dist_VERSION_FINAL/
dist_v1.1.0_WhiteLabel/
dist_v40.1/
dist_v48.1/
build_v2/
build_v3/
*.log
*.lnk
.DS_Store
Thumbs.db
wwebjs_session/
